* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Dosis", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

.container {
  max-width: 1200px;
  margin: auto; }

.btn-main {
  padding: 1rem 2.2rem;
  border: none; }

.btn-main {
  color: black;
  background: #f4f4f4; }
  .btn-main:hover {
    background: #ffbc00; }

.active {
  border-bottom: 3px solid #ffbc00; }

.text-color-main {
  color: #ffbc00; }

.text-centered {
  text-align: center; }

.underline {
  display: block;
  width: 3rem;
  margin: 1rem auto;
  border-top: 2px solid #ffbc00; }

.header {
  color: #fff;
  height: 20vh;
  padding: 1rem; }
  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .header-inner ul {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .header-inner ul li {
        margin-right: 1.5rem;
        text-transform: uppercase;
        border-bottom: 3px solid transparent; }
        .header-inner ul li:hover {
          border-bottom: 3px solid #f4f4f4; }
    .header-inner img {
      width: 70px;
      height: 70px; }
  .header-main {
    line-height: 2.5rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center; }
    .header-main h1 {
      font-size: 4.5rem;
      margin-bottom: 1rem; }
    .header-main p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem; }
    .header-main input {
      margin-bottom: 10vh; }

#main {
  background: url("../img/showcase.jpg") no-repeat center right/cover;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%; }

#main-about {
  background: url("../img/showcase.jpg") no-repeat 20% 30%/cover;
  top: 0;
  right: 0;
  width: 100%;
  height: 15vh;
  border-bottom: 3px solid #ffbc00; }

#specialization h1 {
  margin: 1rem; }

#specialization .specializations {
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; }

#my-awards .my-awards-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  #my-awards .my-awards-div .my-awards-item {
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem; }
    #my-awards .my-awards-div .my-awards-item * {
      padding: 0.5rem; }
    #my-awards .my-awards-div .my-awards-item h1 {
      font-size: 25px; }
  #my-awards .my-awards-div .my-awards-item:nth-child(even) {
    background: #ccc; }

#my-creative-process .my-creative-process-text {
  text-align: center;
  margin: 3rem 0; }

#my-creative-process .my-creative-process-icons {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; }
  #my-creative-process .my-creative-process-icons .inner {
    position: relative;
    margin: auto auto 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
    width: 20vh;
    height: 20vh;
    background: #333;
    border-radius: 50%;
    transition: all 1s; }
    #my-creative-process .my-creative-process-icons .inner:hover {
      color: #f4f4f4;
      background: #ffbc00; }
      #my-creative-process .my-creative-process-icons .inner:hover .process-step {
        background: #333; }
    #my-creative-process .my-creative-process-icons .inner .process-step {
      transition: all 1s;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: #ffbc00;
      font-size: 2rem; }

#footer {
  background: #333;
  color: #f4f4f4;
  padding: 1.5rem 0;
  margin-top: 2rem; }
  #footer .footer-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    #footer .footer-inner i {
      border: 2px solid #f4f4f4;
      border-radius: 50%;
      margin: 0 0.5rem;
      padding: 0.5rem; }

#about-me-section .about-me-header {
  margin: 2rem 1rem; }

#about-me-section .about-me {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem; }
  #about-me-section .about-me img {
    max-width: 100%;
    max-height: 100%; }
  #about-me-section .about-me-text {
    border-left: 3px #ffbc00 solid;
    padding: 1rem; }

#about-me-awards {
  margin: 2rem 0; }
  #about-me-awards .about-me-awards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem; }
    #about-me-awards .about-me-awards i {
      color: #ffbc00; }
