* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Dosis", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

.container {
  max-width: 1200px;
  margin: auto; }

.btn-main {
  padding: 1rem 2.2rem;
  border: none; }

.btn-main {
  color: black;
  background: white; }

.active {
  border-bottom: 3px solid #ffbc00; }

.text-color-main {
  color: #ffbc00; }

#main {
  background: url("../img/showcase.jpg") no-repeat center right/cover;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%; }
  #main .header {
    color: #fff;
    height: 20vh;
    padding: 1rem; }
    #main .header-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #main .header-inner ul {
        display: flex;
        flex-direction: row;
        align-items: center; }
        #main .header-inner ul li {
          margin-right: 1.5rem;
          text-transform: uppercase;
          border-bottom: 3px solid transparent; }
          #main .header-inner ul li:hover {
            border-bottom: 3px solid #f4f4f4; }
      #main .header-inner img {
        width: 70px;
        height: 70px; }
    #main .header-main {
      line-height: 2.5rem;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      align-content: center; }
      #main .header-main h1 {
        font-size: 4.5rem;
        margin-bottom: 1rem; }
      #main .header-main p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem; }
      #main .header-main input {
        margin-bottom: 10vh; }

#specialization {
  text-align: center; }
  #specialization h1 {
    margin: 1rem; }
  #specialization .underline {
    display: block;
    width: 3rem;
    margin: 1rem auto;
    border-top: 2px solid #ffbc00; }
  #specialization .specializations {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    #specialization .specializations-item {
      padding: 1rem; }
